.edit-input {
    width: 350px;
    height: 30px;
    font-size: 20px;
    padding: 5px 8px;
    margin-bottom: 14px;
    background-color: white;
    border: solid #c8c8c8 2px;
    border-radius: 5px;
    color: black;
}

.edit-input:focus {
    outline: none;
}

h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    align-self: flex-start;
}
