.row{
    height: auto;
    min-height: 30px;
    width: 80%;
    
    border-radius: 5px;
    background-color: #05a8bf;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.row .title-container {
    overflow: hidden; 
    background-color: red;
}

.row .list-title {
    cursor: pointer;
}

.row button {
    color: white;
}
