.form-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-title{
    color: black;
    margin-bottom: 10px;
}

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-field-error{
    margin-top: 5px;
    color: red;
}

.form-button{
    width: fit-content;
    font-size: 50%;
}