* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toolbar {
  width: 100%;
  background-color: #05a8bf;
  display: flex;
  padding: 10px;
}

.nav-bar-item {
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.nav-bar-item:not(:first-child){
  border-left: 2px solid white;
}


body {
  background-color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  margin-bottom: 10px;
}